@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "tailwindcss-animate";

@plugin "daisyui" {
  themes: 'light' --default, 'dark' --prefersdark, sunset;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out;
}